.grey {
  color: #9B9B9B;
}

.brown {
  color: #BA856F;
}

.orange {
  color: #C77D48;
}

.yellow {
  color: #CA9849;
}

.green {
  color: #529E72;
}

.blue {
  color: #5E87C9;
}

.purple {
  color: #9D68D3;
}

.pink {
  color: #D15796;
}

.red {
  color: #DF5452;
}